.notification {
	position: relative;
	padding: 1em;
	box-shadow: #ccc 0 -7px 9px -7px inset;
	-webkit-box-shadow': #ccc 0 -7px 9px -7px inset;
	font-size: 1.5rem;
  	text-align: center;
  	background: #f2f2e9;
}

a.notification__info {
	display: inline-block;
	text-decoration: none;
	line-height: 1.5em;
	font-family: 'helvetica', sans-serif;
	font-weight: bold;
	font-size: 0.8em;
	padding: 0 2em;
	color: black;
	opacity: 0.75;
}

a.notification__info:hover {
	opacity: 1;
}

.notification__cta {
  color: #9b1518;
}

.notification__toggle {
	position: absolute;
	right: 0.5em;
	top: 1em;
	border: 0;
	background-color: transparent;
}

.icon-close {
	width: 2.5em;
	height: 2em;
	cursor: pointer;
	opacity: 0.5;
}

.icon-close:hover {
	opacity: 1;
}

